*
{
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure
{
	display:block;
}

#page 
{
    max-width: 900px;
    margin: auto;
}

body
{
    text-align: center;
	font-size:0.825em;
	color:#fcfcfc;	
	background-image: url(../images/background.jpg);
	font-family:Arial, Helvetica, sans-serif;
}

hgroup
{
    font-size: 20px;
}

.line
{
	height:1px;
	background-color:white;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

#nav_menu ul
{
    margin: 0;
    padding: 0; 
}

#nav_menu ul li a 
{
    text-align: center;
    display: block;
    width: 178px;
    padding: 1em 0;
    text-decoration: none;
    background-color: darkred;
    color: white;
    font-weight: bold; 
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus
{ 
    background-color: black; 
}

#nav_menu ul 
{
    list-style-type: none;
    position: relative; 
}

#nav_menu ul li
{
    border-style: solid;
    border-color:white;
    border-width: 1px;
    float: left;
}

#nav_menu ul ul
{
    display: none;
    position: absolute;
    top: 100%; 
}

#nav_menu ul ul li 
{
    float: none;
    position: relative;
}

#nav_menu ul ul li ul 
{
    position: absolute;
    left: 100%;
    top: 0;
}

#nav_menu ul li:hover > ul 
{ 
    display: block;
}

#nav_menu > ul::after 
{
    content: "";
    clear: both;
    display: block; 
}

#left_aside 
{
    border-style: solid;
    border-color:white;
    border-width: 1px;
	width: 15%;                    
	float: left;           
}

#left_aside h2 
{
	color: darkred;
    font-size: 130%;
}

#left_aside h3 
{
	font-size: 105%;
}

#left_aside img 
{
    width: 100px;
    height: 100px;
}

#main
{
    border-style: solid;
    border-color:white;
    border-width: 1px;   
    width: 68%;               
    margin-left: 16%;
    margin-right: 25%; 
}

#right_aside
{
    border-style: solid;
    border-color:white;
    border-width: 1px;
    width: 15%;
	float: right; 
}

#right_aside h2 
{
	color: darkred;
	font-size: 130%;
}

#right_aside h3 
{
	font-size: 105%;
}

footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}