#main table, td, th 
{  
    border: 1px solid white;
    text-align: left;
}
  
#main table 
{
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
}
  
#main th, td 
{
    padding: 15px;
} 

#main th
{
    background-color: darkred;
}

#main h1
{
    color: darkred;
    font-size: 30px;
}